body{
    margin-left: 0px;
    margin-right: 0px;
}
header{
    margin: 0px auto;
    /* background-color: blue; */
    /* background-image: url('../resources/Banner Image.png'); */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),url('../resources/Banner Image.png'); 
    border-radius: 10px;
    width: 1300px;
    height: 600px;
    display: flex;
    justify-content: center;
    /* filter: brightness(70%); */
}

.navi{
    width: 630px;
    height: 250px;
    margin-top: 200px;
}
.navi h5{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 10px;
}
.header-title{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 10px;
}
/* main section styling */
main section{
    margin: 0px auto;
    margin-bottom: 300px;
    margin-top: 150px;
    width: 1300px;
    height: 600px;
}
/* body{
    margin: 0px auto;
} */
.offer{
    text-align: center;
}
.offer-title{
    font-size: 80px;
    color: #FF0000;
}
.offer-infos{
    font-size: medium;
    color: #FF0000;
}
.catagories{
    font-size: 48px;
}
.offer>div>img{
    width: 800px;
    height: 500px;
}

/* party section styles */
.party{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)),url('../resources/Vectorrr.png');
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 150px;
}
.party-description{
    font-size: 18px;
    /* padding-left: 10px; */
    color: #d8d7d7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partysection{
    width: 50%;
}
.btn-primary{
    border-style: none;
    background-color: transparent;
    font-size: 18px;
    padding: 0px;
}

button>a{
    list-style: none;
    color: #ffffff;
    text-decoration: none;
}

.partysection2>img{
    width: 300px;
    height: 450px;
}


/* location section styles */
.location{
    text-align: center;
    background-image: linear-gradient(to bottom,pink,white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
    border-radius: 10px;
}
.location-info{
    font-size: 32px;
    font-weight:600;
}
.span-sec{
    color: #FF0000;
}
.btn-primary2{
    background-color: #FF0000;
    padding: 15px;
    border-style: none;
}

/* gifts section styles */
.gifts{
    margin-top: 100px;
    margin-bottom: 600px;
}
.catalogue{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.gifts img{
    width:424px;
    height:450px;
    border-radius: 10px;
    /* box-shadow: 0px 5px 10px rgb(216, 214, 214); */
}
/* .gifts img:hover + p{
    display: block;

} */

/* subscribe section styles */
.subscribe{
    background-color: rgb(255, 238, 241);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 150px;
}
.subscribe img{
    width: 150px;
    height: 150px;
}
input[type="email"]:focus{
    /* box-shadow: 0px 1px 10px black; */
    outline: none;
}
input[type="email"]:focus::placeholder{
    opacity: 0;
}

/* footer section styles */
footer{
    background-color: #070211;
    height: 450px;
    width: 100%;
}
.footer{
    /* margin: 0px auto; */
    margin-left:109px;
    margin-right: 109px;
}
.address-part{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    height: 90px;
    padding-top: 2%;
}
.address-part h5{
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
}
.online-platform{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-bottom: 1px solid grey;
}